body{
    background-color: rgb(154, 175, 194);
}
.Ta1{
  display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 0;
 float:right;
}
.Ta1 ul li{
  display: inline-block;
  margin: 15px 17px;
  text-transform: capitalize;
}
.Ta1 ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 20px;
}
.Ta1 ul li a:hover{
  color:rgb(70, 113, 156);
}
h1{
    font-size: 50pt; color: white;
    text-shadow: 4px 4px 24px rgb(72, 104, 133);
    text-align: center;
    text-transform: capitalize;
}
p.a{
  padding: 5px;
  color: white;
  background-color:rgb(85, 118, 148);
  text-align: center;
}
p{
    color: white;
    text-align: left; 
}
 #groupList{
  list-style-type: circle;
  color: white;
  text-align: left;
}

