body{
background-color: rgb(154, 175, 194);
}
.Ta1{
  display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 0;
 float:right;
}
.Ta1 ul li{
  display: inline-block;
  margin: 15px 17px;
  text-transform: capitalize;
}
.Ta1 ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 20px;
}
.Ta1 ul li a:hover{
  color:rgb(70, 113, 156);
}
h1{
    font-family: serif;
    font-size: 60px;
    text-transform:capitalize ;
    text-align: center;
    color:#f2f2f2;
}

#days {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }
#days td, th {
 
  font-size: 20px;
    border:  #ddd;
    padding: 8px;
  }
  tr:nth-child(even){
 background-color: #f2f2f2;
    }
    #days td{
      color: rgb(72, 104, 133); 
    }
#days th{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(72, 104, 133);
  color: white;
}
#days tr:hover {background-color: #ddd;}

h2{

    font-family: serif;
    font-size: 50px;
    text-transform:capitalize ;
    text-align: left;
    color:#f2f2f2; 
}
p{
    font-family:fantasy;
    font-size: 20px;
    text-transform:capitalize ;
    text-align: left;
    color: rgb(72, 104, 133);
}
 